.About{
  text-align: left;
}
.About_heading{
  padding: 1rem 01rem 0rem ;
  width: fit-content;
  position: relative;
}
.About_heading::after{
    content: " ";
    display: inline-flex;
    justify-content: center;
    height: 5px;
    width: 50%;
    border-radius: 5%;
    background-color: black;
    position: absolute;
    top: 100%;
    left:25%;
    animation: animate 3s ease-in-out infinite;
}
@keyframes animate {
    0%{transform:scale(0%)}
    50%{transform: scale(100%);}
    100%{transform: scale(0%);}
}
.content{
  padding: 0rem 02rem 0rem ;
  text-align:left;
  font-size: 1rem;
}
.About_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.img{
  margin: auto;
  width: 40ch;
  animation: animate1 3s ease-in-out infinite;
}
@keyframes animate1 {
    0%{transform:scale(0%)}
    50%{transform: scale(100%);}
    100%{transform: scale(0%);}
}
@media only screen and (max-width:830px){
  .img{
    margin:auto;
    /* width: 90vw; */
  }
}