.team{
  margin: 0;
  padding: 2rem 0rem;
}
.team_wrapper{
  width: 100vw;
}
.contentwrapper{
  width: 80vw;
  margin: auto;
  align-items: center;
}
.heading{
  font-size: 2rem;
  position: relative;
  width: fit-content;
  margin: auto;
}
.heading::after{
  content: " ";
  width: 50%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -40%;
  left: 25%;
  margin-bottom: 1rem;
}
.content{
  margin: auto;
  width: 80vw;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
}
.content>p{
  text-align: center;
}

/* card styles */

.team_card{
  /* width: 40ch; */
  display: flex;
  /* flex-direction: column; */
  padding: 1rem;
  border-radius: 2rem;
  box-shadow: -10px 20px 20px 10px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  margin: auto;
}
.image_wrapper>img{
  width: 20ch;
}
.team_wrapper{
  width: fit-content;
}


.team_cardwrapper{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  width: 80vw;
}