.team{
  margin: 0;
  padding: 2rem 0rem;
}
.team_wrapper{
  width: 100vw;
  margin: auto;
}
.contentwrapper{
  width: 80vw;
  margin: auto;
  align-items: center;
}
.heading{
  font-size: 2rem;
  position: relative;
  width: fit-content;
  margin: auto;
}
.heading::after{
  content: " ";
  width: 50%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: -40%;
  left: 25%;
  margin-bottom: 1rem;
  animation: animate 3s ease-in-out infinite;
}
@keyframes animate {
  0%{transform:scale(0%)}
  50%{transform: scale(100%);}
  100%{transform: scale(0%);}
}
.content>p{
  margin: auto;
  margin-top: 2rem;
  align-items: center;
  text-align: center;
}
.content>p{
  text-align: center;
}

/* card styles */

.team_card{
  width: 42ch;
  display: flex;
  gap: 1rem;
  padding: 1rem 01rem;
  justify-content: space-around;
  border-radius: 2rem;
  box-shadow: 0px 0px 15px 15px rgba(0, 0, 0, 0.2);
  /* background: rgba(0, 0, 0, 0.5); */
  backdrop-filter: blur(10px);
  margin: auto;
}
.image_wrapper{
  margin: auto;
}
.team_card>img{
  width: 20ch;
  margin: auto;
  border-radius: 2rem;
  box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.2);
}
.team_wrapper{
  width: fit-content;
}
.content_outerwrapper{
  margin: 0px 6px;
  width: 20ch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.content_wrapper{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.content_wrapper>h3, h5, h6{
  margin: 0%;
}

.icon_wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.icon_wrapper>a>img{
 width: 2ch;
 height: 2ch;
}
.team_cardwrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 4rem;
  width: 95vw;
  margin: auto;
}

/*  mobile view*/
@media screen and (max-width:768px) {
  .team_card{
    width: 21ch;
    flex-direction: column;
  }
}