.topbar{
  display: flex;
  background: black;
  width: 96vw;
  height: 10vh;
  margin-left: 01.5vw;
  text-align: right;
  align-items: right;
  justify-content: space-between;
  position: fixed;
  border-radius: 0rem 0rem 2rem 2rem ;
  border-bottom: 3px solid black;
}
.logo_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  left: 10%;
  top: 50%;
  width: fit-content;
}
.logo_wrapper>img{
  width: 50px;
  align-items: left;
  justify-content: left;
  position:absolute;
  left: 10%;
  z-index: 99;
}
.rightside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.topbar_links{
  display: flex;
  gap: 2rem;
  margin-right: 2rem;
}
.topbar_div>img{
  display: none;
}
.topbar_div>a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.topbar_div>a:hover{
  opacity: 0.5;
}
.topbar_div{
  display: flex;
  align-items: center;
}
.topbar_div:last-of-type>a{
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 1.5rem;
  margin: auto;
  justify-self: center;
  align-self: center;
}
.topbar_div>a.active{
  background-color: white;
  color: black;
  width: 10ch;
  padding: 0rem;
  height: 100%;
  margin-top: 33%;
  border-radius: 1rem 1rem 0rem 0rem ;
  display: flex;
  flex-direction: row;
  justify-content:center ;
  align-items: center;
  position: relative;
}
.toggle_button {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 0, 0);
  display: none;
}
.toggle_button_label>p{
  visibility: collapse;
}

@media only screen and (max-width:768px){
  .topbar{
    margin-left: 2vw;
  }
  .topbar_div>a {
    display: inline-flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 1rem ;
    font-size: 1.0rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 0.2em;
    border-radius: 10%;
  }
  .topbar_div>a.active{
    background:none;
   color: white;
   width: auto;
   font-size: 1.3rem;
   padding: 0rem;
   height:auto;
   margin-top: 1rem;
   border-radius: 1rem;
  }
  nav {
    position: absolute;
    top: 0;
    left: -4%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    border-radius: 0px 0px 16px 16px;
    padding: 10px;
    text-align: left;  
    transform: scale(0,0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
    z-index: 999;
  }
  .topbar_div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0.3rem 1rem 0.3rem;
  }
  .topbar_div:last-of-type{
    background-color:white;
    color: black;
    padding: 0.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  .topbar_div:last-of-type>a{
    color: black;
  }
  .topbar_div>img{
    display: block;
    width: 01rem;
    height: 1rem;
    margin: auto;
    padding-bottom: 0.2rem;
  }
  .topbar_links{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 4rem;
    background: rgba(17, 17, 17, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 10px 10px;
  } 
 
  .toggle_button:checked ~ nav{
    transform: scale(1,1);
    z-index: 90;
  }
  .toggle_button:not(:checked) ~ nav{
    transform: scale(1,0);
    z-index: 90;
  }
  .toggle_button:checked ~ .topbar_links{
     visibility: visible;
  }
 .topbar_links_wrapper1{
    visibility: collapse;
    width: 0;
  }
  .toggle_button_label{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100% ;
    display: flex;
    align-items: center;
  }
  .toggle_button_label>p{
    visibility: collapse;
  }
  .toggle_button_label span,
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    display: block;
    background:white;
    width: 1.5em;
    height: 0.2em;
    border-radius: 2px;
    position: relative;
    
  }
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    content: " ";
    position: absolute;
  }
  .toggle_button_label span::before{
    bottom: 7px;
  }
  .toggle_button_label span::after{
    top: 7px;
  }
  /* .toggle_button:checked ~ .topbar{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);
  } */
  .toggle_button:checked ~  .toggle_button_label span{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in ;
  }
  .toggle_button:not(:checked) ~  .toggle_button_label p{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in reverse;
  }
  .toggle_button:checked ~  .toggle_button_label p{
    visibility: visible;
    color: white;
    position: absolute;
    top: -22%;
    left: 30%;
    font-size: 1.5em;
    font-weight: 600;
    animation: hamburgerX 500ms ease-in;
    z-index: 98;
  }
  @keyframes hamburgerX {
    0%{transform: scale3d(0,0,0);}
    50%{transform: scale3d(0.5,0.5,0.5);}
    100%{transform: scale3d(1,1,1);}
  }
}