.topbar{
  display: flex;
  background: rgb(255, 255, 255);
  width: 100vw;
  height: 9vh;
  text-align: right;
  align-items: right;
  justify-content: space-between;
  position: fixed;
  border-bottom: 3px solid black;
}
.topbar>img{
  max-width: 45px;
  align-items: left;
  justify-content: left;
  position:absolute;
  left: 10%;
  top: 3px;
  margin: 5px 5px;
  z-index: 99;
}
.rightside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.topbar_links{
  visibility: collapse;
  width: 0;
}
.topbar_links_wrapper1, .topbar_links_wrapper2 a {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 1rem ;
  font-size: 1.0rem;
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 0.2em;
  border-radius: 10%;
}
.topbar_links_wrapper1 a:hover{
   opacity: 0.8;
}
.toggle_button {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border-radius: 5px;
  border: none;
  background-color: rgb(0, 0, 0);
  display: none;
}


@media only screen and (max-width:768px){
  .topbar>img{
    max-width: 40px;
    left: 5%;
    top:6.54px;
  }
  .topbar{
    min-height: 60px;
  }
  nav {
    position: absolute;
    top: 0%;
    left: 0;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    text-align: left;  
    transform: scale(0,0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
  }
  .topbar_div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0.3rem 1rem 0.3rem;
    
  }
  .topbar_div>img{
    width: 01rem;
    height: 1rem;
    margin: auto;
    padding-bottom: 0.2rem;
  }
  .topbar_links_wrapper2{
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    background: rgba(17, 17, 17, 0.2);
    backdrop-filter: blur(15px);
    border-radius: 0px 0px 10px 10px;
  } 
  .topbar_links_wrapper2{
    /* text-align: left; */
    display: flex;
    align-items: flex-end;
    flex-direction:column;
  }
  .toggle_button:checked ~ nav{
    transform: scale(1,1);
    z-index: 90;
  }
  .toggle_button:checked ~ .topbar_links{
     visibility: visible;
  }
 .topbar_links_wrapper1{
    visibility: collapse;
    width: 0;
  }
  .toggle_button_label{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100% ;
    display: flex;
    align-items: center;
  }
  .toggle_button_label p{
    visibility: collapse;
  }
  .toggle_button_label span,
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    display: block;
    background:rgb(0, 0, 0);
    width: 1.5em;
    height: 0.2em;
    border-radius: 2px;
    position: relative;
    
  }
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    content: " ";
    position: absolute;
  }
  .toggle_button_label span::before{
    bottom: 7px;
  }
  .toggle_button_label span::after{
    top: 7px;
  }
  .toggle_button:checked ~ .topbar{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
  }
  .toggle_button:checked ~  .toggle_button_label span{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in ;
  }
  .toggle_button:not(:checked) ~  .toggle_button_label p{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in reverse;
  }
  .toggle_button:checked ~  .toggle_button_label p{
    visibility: visible;
    color: rgb(0, 0, 0);
    position: absolute;
    top: -22%;
    left: -0%;
    font-size: 1.5em;
    font-weight: 600;
    animation: hamburgerX 500ms ease-in;
    z-index: 98;
  }
  @keyframes hamburgerX {
    0%{transform: scale3d(0,0,0);}
    50%{transform: scale3d(0.5,0.5,0.5);}
    100%{transform: scale3d(1,1,1);}
  }
}