.topbar{
  display: flex;
  background: hsl(0, 0%, 0% );
  backdrop-filter: blur(1rem);
  width: 100vw;
  height: 8vh;
  text-align: right;
  align-items: right;
  justify-content: space-between;
  /* z-index: 999; */
  position: fixed;
}
.topbar>img{
  max-width: 60px;
  align-items: left;
  position:absolute;
  left: 2%;
  top: -2;
  margin: auto;
}
.rightside{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.topbar_links a {
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  text-decoration: none;
  margin: 1rem ;
  font-size: 1.2rem;
  font-weight: 400;
  text-decoration: none;
  color:  #FFD700;
  padding: 0.2em;
  border-radius: 10%;
}
.topbar_links a:hover{
   opacity: 0.8;
}
.toggle_button {
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  border-radius: 5px;
  border: none;
  background-color: white;
  display: none;
}


@media only screen and (max-width:768px){
  .topbar>img{
    max-width: 60px;
    left: 5%;
  }
  .topbar{
    min-height: 60px;
  }
  nav {
    background:black;
    backdrop-filter: blur(100em);
    position: absolute;
    top: 30%;
    left: 0;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: max-content;
    margin-top: 40px;
    border-radius: 0px 0px 10px 10px;
    padding: 10px;
    text-align: left;  
    transform: scale(0,0);
    transform-origin: top;
    transition: transform 300ms ease-in-out;
    z-index: 999;
  }
  .topbar_links{
    width: 95.5%;
    /* text-align: right; */
  }
  .topbar_links> a {
    text-decoration: none;
    display: flex;
    font-size: 0.9rem;
    font-weight: 600;
    width: 100%;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 0px;
    
  }
  .topbar_links a:nth-child(4){
    padding: 0.5rem 0rem;
   }
  .toggle_button:checked ~ nav{
    transform: scale(1,1);
    z-index: 0;
  }
 
  .toggle_button_label{
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    height: 100% ;
    display: flex;
    align-items: center;
  }
  .toggle_button_label p{
    visibility: collapse;
  }
  .toggle_button_label span,
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    display: block;
    background:white;
    width: 1.5em;
    height: 0.2em;
    border-radius: 2px;
    position: relative;
    
  }
  .toggle_button_label span::after,
  .toggle_button_label span::before{
    content: " ";
    position: absolute;
  }
  .toggle_button_label span::before{
    bottom: 7px;
  }
  .toggle_button_label span::after{
    top: 7px;
  }
  .toggle_button:checked ~  .toggle_button_label span{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in ;
  }
  .toggle_button:not(:checked) ~  .toggle_button_label p{
    visibility: hidden;
    animation: hamburgerX 500ms ease-in reverse;
  }
  .toggle_button:checked ~  .toggle_button_label p{
    visibility: visible;
    color: white;
    position: absolute;
    top: -12%;
    left: -50%;
    font-size: 1.5em;
    font-weight: 600;
    animation: hamburgerX 500ms ease-in;
  }
  @keyframes hamburgerX {
    0%{transform: scale3d(0,0,0);}
    50%{transform: scale3d(0.5,0.5,0.5);}
    100%{transform: scale3d(1,1,1);}
  }
}