.Contact{
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}
.Contact_heading{
  width: fit-content;
  position: relative;
}
.Contact_heading::after{
    content: " ";
    display: inline-flex;
    justify-content: center;
    height: 5px;
    width: 50%;
    border-radius: 5%;
    background-color: black;
    position: absolute;
    top: 100%;
    left:0;
    animation: animate 3s ease-in-out infinite;
    transform-origin: left;
}
@keyframes animate {
    0%{transform:scale(0%)}
    50%{transform: scale(100%);}
    100%{transform: scale(0%);}
}
.content{
  padding: 0rem 02rem 0rem ;
  text-align:left;
  display: flex;
  flex-direction: column;
  
}
.content>a{
  text-decoration: none;
  color: black;
  line-height: 2rem;
}
.Contact_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
 align-items: flex-start;
}
.Contact_wrapper>img{
  position: absolute;
  top: 10px;
  right: 40px;
  animation: animate1 3s ease-in-out infinite;
}
.Contact-wrapper1{
  width: 50ch;
  align-items: flex-start;
}
@media screen and (max-width:1000px){
  .Contact-wrapper1{
    width: 40ch;
  }
}
@media screen and (max-width:400px){
  .Contact-wrapper1{
    width: 30ch;
  }
}