.Home{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  align-items: center;
  overflow: hidden;
}
.title_wrapper{
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  justify-items: center;
  justify-content: space-evenly;
  margin: 3rem 0rem;
}
.titleheading_wrapper{
  width: 40vw;
  text-align: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 02rem;
  margin: auto;
}
.titleheading_wrapper1{
  display: flex;
  flex-wrap: wrap;
  align-items: left;
}
.titleheading_innerwrapper>h1{
  font-size: 3rem;
  /* letter-spacing: 2px; */
}
.titleheading_innerwrapper{
  display: flex;
  flex-direction: row;
  gap: 0;
  height: 7ch;
  align-items: baseline;
  /* margin: auto; */
  margin-left: 0;
}
.titleheading_innerwrapper>h2{
  margin-right: 8px;
  letter-spacing: 1.5px;
  font-size: 2rem;
}
.titleimg_wrapper>img{
  width: 30ch;
}

/* home headings style */
.home_headings1, .home_headings2{
  position: relative;
  width: fit-content;
  margin: auto;
  margin-bottom: 3rem;
}
.home_headings1::after{
  content: " ";
  height: 3px;
  background-color: white;
  width: 50%;
  position: absolute;
  bottom: -10%;
  left: 25%;
}
.home_headings2::after{
  content: " ";
  height: 3px;
  background-color: black;
  width: 50%;
  position: absolute;
  bottom: -10%;
  left: 25%;
}

/*our motto styles*/
.home_outerwrapper1{
  width: 100vw;
  background-color: black;
  color: white;
}
.home_wrapper1{
  width: 80vw;
  margin: auto;
  padding: 2rem 0rem;
}
.home_innerwrapper1{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}
.home_innerwrapper1_child{
  width: 30ch;
  margin: auto;
}

/* what we do here styles */
.home_outerwrapper2{
  width: 100vw;
  background-color: white;
  color:black;
}
.home_wrapper2{
  width: 70vw;
  margin: auto;
  padding: 2rem 0rem;
}
.home_innerwrapper2{
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin: auto;
  justify-content: space-evenly;
}
.home_innerwrapper2_child{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 30ch;
  height: 15ch;
}
.home_innerwrapper2_child>img{
  width: 5ch;
  height: 5ch;
}

/* vision and mission styles */
.home_outerwrapper3{
  width: 100vw;
  background-color: black;
  color: white;
}
.home_wrapper3{
  width: 80vw;
  margin: auto;
  padding: 2rem 0rem;
  display: flex;
  /* flex-direction: column; */
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.home_innerwrapper3{
  width: 40ch;

}

/* Mobile view */
@media screen and (max-width:768px){
  .titleheading_wrapper{
    width: 60vw;
    justify-content: space-evenly;
  }
}
  
