.footer{
  width: 100vw;
 height: max-content;
  z-index: 90;
  position: relative;
  background-color: white;
  /* border-top: 2px solid black; */
}
.footer-outerwrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height:max-content;
  justify-content: space-evenly;
}
.footer-outerwrapper>p{
  width: fit-content;
}
.footer_wrapper1, .footer_wrapper2, .footer_wrapper3{
  border-radius: 10px;
   display: inline-flex;
   flex-direction: column;
   align-items: center;
}
.footer_wrapper1, .footer_wrapper2, .footer_wrapper3>a{
  text-align: left;
}
.footer_heading{
  color: black;
  position: relative;
  width: fit-content;
  font-weight: 900;
  text-align: left;
  text-transform:uppercase;
}
.footer_heading::after{
  content: " ";
  background-color: black;
  width: 100%;
  display: inline-flex;
  flex-direction: column;
  height: 0.2em;
  position: absolute;
  bottom:-30%;
  left: 0;
}
.footer_links{
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  align-items: ce;
  line-height: 200%;
}
.footer_links>a{
  text-decoration: none;
  color: black;
}
.footer_innerwrapper2{
  display: inline-flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  background-color: black;
  border-radius: 1rem;
  width: 40ch;
  padding: 1rem;
}
.footer_innerwrapper1> a>img{
  width: 3ch;
  text-align: center;
  margin-top: 10px;
}
.footer_innerwrapper1>p{
  color: white;
}
.footer_innerwrapper2{
  width: max-content;
  margin: 20px;
}
.footer_innerwrapper2>img{
  width: 30px;
  padding: 10px;
}
.footer_innerwrapper2>p{
  padding: 10px;
  color: white;
  text-align: center;
}
